.btn {
  display: block;
  width: fit-content;
  background-color: var(--color-accent-500);
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: var(--color-neutral-900);
  text-decoration: none;
  font-size: 0.86rem;
  font-weight: bold;
  letter-spacing: 0.076em;
  transition:
    background-color 300ms,
    color 300ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-accent-600);
}

.btn--black {
  background-color: var(--color-neutral-0);
}

.btn--black:hover,
.btn--black:focus {
  background-color: var(--color-neutral-200);
}

.btn--transparent {
  background-color: transparent;
  border: solid 1px var(--color-neutral-0);
  color: var(--color-neutral-0);
}

.btn--transparent:hover,
.btn--transparent:focus {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-900);
}
