@use "/src/css/variables" as *;
@use "/src/css/mixins";

.checkoutForm {
  background-color: var(--color-neutral-900);
  padding: 1.6rem;
  border-radius: 8px;
}

.title {
  font-size: clamp(1.8667rem, 1.6122rem + 1.0178vw, 2.1333rem);
  letter-spacing: 0.0357em;
  text-transform: uppercase;
  margin-bottom: 2.13rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 2.133rem;
}

.billingContent,
.shippingContent {
  display: grid;
  row-gap: 1.6rem;
}

.paymentContent {
  display: grid;
  row-gap: 1.6rem;
}

.paymentMethodFieldset {
  border: none;
  margin-bottom: 0.5rem;
}

.paymentMethodLegend {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1.13rem;
}

.radioContainer {
  border: solid 1px #cfcfcf;
  border-radius: 8px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1.2rem 1.06rem;
}

.eMoneyContainer {
  margin-bottom: 1.06rem;
}

.radioInput {
  accent-color: var(--color-accent-500);
}

.radioContainer:has(.radioInput:checked) {
  border: solid 1px var(--color-accent-500);
}

.radioLabel {
  font-size: 0.93rem;
  font-weight: bold;
}

.cashOnDelivery {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.cashOnDeliveryImg {
  width: 48px;
}

.cashOnDeliveryText {
  opacity: 0.5;
}

@media (min-width: $bp-tablet) {
  .checkoutForm {
    padding: 2rem 1.833rem;
  }

  .title {
    @include mixins.h3;

    margin-bottom: 2.73rem;
  }

  .form {
    row-gap: 3.66rem;
  }

  .billingContent,
  .shippingContent {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.06rem;
  }

  .address {
    grid-column: 1 / -1;
  }

  .paymentContent {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.066rem;
  }

  .paymentMethodFieldset {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 1.066rem;
  }

  .paymentMethodLegend {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-bottom: 0;
    position: absolute;
  }

  .eMoneyContainer {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .cashContainer {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
  }

  .eMoneyNumber {
    grid-column: 1 / 2;
  }

  .cashOnDelivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2.13rem;
    grid-column: 1 / -1;
  }

  .cashOnDeliveryText {
    width: 100%;
  }
}

@media (min-width: $bp-desktop) {
  .checkoutForm {
    padding: 3.6rem 3.2rem;
  }
}
