@use "/src/css/variables" as *;

.detail {
  margin-bottom: 8rem;
}

.details {
  margin-bottom: clamp(5.8667rem, 3.831rem + 8.1425vw, 8rem);
}

.overview {
  margin-bottom: clamp(5.8667rem, 3.831rem + 8.1425vw, 8rem);
}

.gallery {
  margin-bottom: 8rem;
}

.related {
  margin-bottom: 11.46rem;
}

.categories {
  margin-bottom: 8rem;
}

@media (min-width: $bp-tablet) {
  .detail {
    margin-bottom: clamp(8rem, 3.2593rem + 9.2593vw, 10.6667rem);
  }

  .details {
    margin-bottom: clamp(8rem, 3.2593rem + 9.2593vw, 10.6667rem);
  }

  .overview {
    margin-bottom: clamp(8rem, 3.2593rem + 9.2593vw, 10.6667rem);
  }

  .gallery {
    margin-bottom: clamp(8rem, 3.2593rem + 9.2593vw, 10.6667rem);
  }

  .related {
    margin-bottom: clamp(11.4667rem, 3.4074rem + 15.7407vw, 16rem);
  }

  .categories {
    margin-bottom: clamp(8rem, 3.2593rem + 9.2593vw, 10.6667rem);
  }
}
