@use "/src/css/variables" as *;

.hero {
  margin-bottom: clamp(6.133rem, 2.571rem + 14.249vw, 9.867rem);
}

.categories {
  margin-bottom: 8rem;
}

@media (min-width: $bp-tablet) {
  .hero {
    margin-bottom: clamp(9.867rem, 3.704rem + 12.037vw, 13.333rem);
  }

  .categories {
    margin-bottom: clamp(6.4rem, -2.133rem + 16.667vw, 11.2rem);
  }
}
