@use "/src/css/variables" as *;

.header {
  background-color: var(--color-neutral-100);
  border-bottom: solid 1px rgb(255 255 255 / 10.4%);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.133rem 0;
}

.nav {
  display: none;
}

@media (min-width: $bp-tablet) {
  .header {
    border-bottom: none;
  }

  .inner {
    justify-content: start;
    padding-bottom: clamp(2.133rem, 1.659rem + 0.926vi, 2.4rem);
    border-bottom: solid 1px rgb(255 255 255 / 10.4%);
  }

  .menuBtn {
    margin-right: 2.8rem;
  }

  .logo {
    margin-right: auto;
  }
}

@media (min-width: $bp-desktop) {
  .inner {
    justify-content: space-between;
    border-bottom-color: rgb(255 255 255 / 20%);
  }

  .menuBtn {
    display: none;
  }

  .logo {
    margin-right: unset;
  }

  .nav {
    display: block;
    margin-right: 8rem;
  }
}
