.quantityPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-neutral-700);
  font-size: 0.866rem;
  width: 120px;
  height: 48px;
}

.quantityBtn {
  opacity: 0.25;
  flex-basis: 33%;
  height: 100%;
  transition: color 300ms;
}

.quantityBtn,
.quantity {
  font-weight: bold;
}

.quantityBtn:hover,
.quantityBtn:focus {
  color: var(--color-accent-500);
}

.decrementBtn {
  text-align: left;
  padding-left: 1.033rem;
}

.incrementBtn {
  text-align: right;
  padding-right: 1.033rem;
}

.quantityPanel--small {
  width: 96px;
  height: 32px;
}
